@use '~styles/lib/colors' as *;
@use '~styles/lib/transitions' as *;

.notificationRow {
	border: 1px solid color('gray2');
	border-radius: 7px; // TODO: From Designs consider switching to space(2) ~ 8px
	transition: border transition();
	margin-top: 15px;
	padding: 12px;
	cursor: pointer;
	position: relative;

	&:hover {
		background-color: #eaf6ff;
	}
}

.dismissIcon {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 6px;

	&:hover {
		font-weight: 600;
	}
}

.comment {
	font-style: italic;
}

.description {
	//text-decoration: underline;
	font-weight: 600;
	color: color('primary');
}

.unRead {
	border: 1px solid color('primary');
}

.timestamp {
	font-size: 10px;
	color: rgba(100, 100, 100, 0.87);
}
