<publishData>
	<publishProfile profileName="greenlight-app - Zip Deploy" publishMethod="ZipDeploy" publishUrl="greenlight-app.scm.azurewebsites.net:443" userName="$greenlight-app" destinationAppUrl="http://greenlight-app.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites">
		<databases />
	</publishProfile>
</publishData>