@use '~styles/lib/colors' as *;
@use '~styles/lib/transitions' as *;
@use '~styles/lib/space' as *;

html,
body {
	// line-height: 1;
	font-size: 12px;
	letter-spacing: 0.09px;
	font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system,
		BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
	text-decoration: none !important;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

// body::-webkit-scrollbar {
// 	width: 0.7em;
// }
// body::-webkit-scrollbar-thumb {
// 	background: #8a8886;
// 	height: 30px;
// }

// body::-webkit-scrollbar-track-piece {
// 	display: none;
// }

small {
	font-size: smaller;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	line-height: 1.2;
}

h2 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h3 {
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
	letter-spacing: 0.15px;
}

h5 {
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	letter-spacing: 0.09px;
}

.semibold {
	font-weight: 600;
}

.pointer {
	cursor: pointer;
}

input {
	border: 1px solid color('gray-2');
	box-sizing: border-box;
	border-radius: 7px; // TODO: From Designs consider switching to space(2) ~ 8px
	transition: border transition();
	@extend .p-2 !optional;

	&:focus,
	&:active {
		border-color: color('primary');
	}
}

bg-gray {
	background-color: color('gray-1');
}
